.container {
    background-color: #FCCA66;
    padding: 20px;
    text-align: center;
}

.scoreboard {
    text-align: center;
    font-weight: bold;
    font-size: 32px;

}

.svgWrapper {
    margin: auto;
    position: relative;
}

.leftPlayer {
    background-color: red;
    border-radius: 0 3px 3px 0;
    position: absolute;
    top: 115px;
}

.rightPlayer {
    background-color: blue;
    border-radius: 3px 0 0 3px;
    position: absolute;
    top: 115px;
    left: 590px;
}

.ball {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 138px;
    left: 288px;
}

.btn {
    margin: 20px;
    width: 150px;

}